In [28]:
import os
import csv
import pandas as pd

budget_csv = os.path.join(".", "Resources", "budget_data.csv")

In [29]:
#create a data frame
budget_data_df = pd.read_csv(budget_csv)

#identify my data types that I am working with
budget_data_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [30]:
#I made the dateset into string data so it can handle different date formatting.
budget_data_df['Date'] = budget_data_df['Date'].astype(str)
budget_data_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [34]:
#I then calculate the total number of months by creating a formula, listing the unique number of months, so I don't count the same month twice
total_months = budget_data_df['Date'].nunique()
total_months

86

In [33]:
#next I added all the data in the Profit/Losses category to give me my net profit
net_profit = budget_data_df['Profit/Losses'].sum()
net_profit

22564198

In [37]:
#I created a column change that would be based off the difference between each cell in the column profit/loss
budget_data_df['Change'] = budget_data_df['Profit/Losses'].diff()
##to get average change I use that change column and calculate the average of that column
average_change = budget_data_df['Change'].mean()
average_change

-8311.105882352942

In [38]:
greatest_increase = budget_data_df.loc[budget_data_df['Change'].idxmax()]
greatest_increase

Date                Aug-16
Profit/Losses       951227
Change           1862002.0
Name: 79, dtype: object

In [39]:
greatest_decrease = budget_data_df.loc[budget_data_df['Change'].idxmin()]
greatest_decrease

Date                Feb-14
Profit/Losses      -946748
Change          -1825558.0
Name: 49, dtype: object

In [75]:
#print everything out

print(f'Total Months: {total_months}')
print(f'Net Profit: ${net_profit}')
print(f'Average Change in Profit: ${average_change:.2f}')
print(f'Greatest Increase in Profit: {greatest_increase["Date"]} (${greatest_increase["Change"]:.2f})')
print(f'Greatest Decrease in Profit: {greatest_decrease["Date"]} (${greatest_decrease["Change"]:.2f})')

Total Months: 86
Net Profit: $22564198
Average Change in Profit: $-8311.11
Greatest Increase in Profit: Aug-16 ($1862002.00)
Greatest Decrease in Profit: Feb-14 ($-1825558.00)